*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background:
        radial-gradient(
            ellipse at 50% 40%,
            #181818 0%,
            #0b0b0b 35%,
            #030303 70%,
            #000000 100%
        );

    color: white;
    overflow-x: hidden;
    min-height: 100vh;
}

.name{
    height: 5vh;
    text-align: center;
    align-content: center;
    color: white;

}

nav{
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.navbar{
    height: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 0 2rem;
}

.container{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#demon-bg {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: -1;

    overflow: hidden;
    pointer-events: none;
}


/* =========================
   DEMON LORD COLUMN
========================= */

.demon {
    position: absolute;

    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: monospace;
    font-weight: bold;

    font-size: 16px;
    line-height: 1.05;

    color: rgba(0, 183, 255, 0.3);

    text-shadow:
        0 0 5px rgba(0, 0, 0, 0.5),
        0 0 12px rgba(41, 1, 1, 0.25);

    pointer-events: none;
}


/* Space between DEMON and LORD */

.demon .space {
    height: 12px;
}
